@model IEnumerable<Employee>
<h2>Employee</h2>
<div style="display: block">
    <a href="/Employee/Index/">View Employee</a>
</div>
<table class="table">
    <tr>
        <th>EmployeeId</th>
        <th>EmployeeFirstName</th>
    </tr>
    @foreach (var employee in Model)
    {
        <tr>
            <td><a href="/Employee/Testing/@employee.EmployeeId">@employee.EmployeeId</a></td>
            <td>@employee.EmployeeFirstName</td>
        </tr>
    }
</table>